/* Website designed Desktop down. Settings adjustments here for when displayed on a mobile phone. 
Display changed from Flexbox to block so that items folow after each other, rather than being positioned in two columns.
Font, button and label sizes made larger and text positioning changed.

@media only screen and (max-width:600px) {

header {
    display: block;
    align-content: center;
      }
main {
    display: block;
    align-content: center;
      }
h1 {
      font-size: 10vw; 
      text-align: center;
}
#div1 {
    width: 50%;
    margin: auto;
    padding-top: 20px;
     }
#div2 {
    width: 100%;
    margin: auto;
   
     }
p {
    font-size: 6vw;
    padding-top: 15px;
}
#choice-1 {
   font-size: 6vw;
}
#choice-2 {
    font-size: 6vw;
 }
 #choice-3 {
    font-size: 6vw;
 }
 .label {

    font-size: 6vw;
    
}
#firstName {
    font-size: 6vw;
}
#secondName {
    font-size: 6vw;
}
#surname {
    font-size: 6vw;
}
#weddingDate {
    font-size: 6vw;
}
#weddingLocation {
    font-size: 6vw;
}
#div3 {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
     }
#div4 {
    width: 100%;
    margin: auto;
   
     }
   }
  
#roses1 {
    width: 100%;
    margin: auto;
}

#roses {
    width: 100%;
    margin: auto;
}
#leather {
    width: 100%;
    margin: auto;
}
#blossom {
    width: 100%;
    margin: auto;
}
.words {
    font-family: cursive;  
    color: rgb(255, 255, 255);
    font-size: 5vw;
    text-shadow: 1px 1px 1px  rgb(92, 90, 90);  
    padding-top: 1.5vw;
    position: relative;
    text-align: center; 
}
#firstName2Initials {
    font-size: 9vw;
    padding-top: 3vw;
}
#cordially {
    padding-top: 26vw;
}
#firstName2 {
    padding-top: 6vw;
}
#weddingDate2 {
    padding-top: 12vw;
}
*/