body {
    background-color: rgb(235, 147, 64);
}
header {
    display: flex;
    flex-direction:row;
}
#wedding-couple {
    width: 50%;
    padding-left: 9vw; 
    padding-bottom: 1vw;
 }
 h1 {
    color:rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 1px 1px  rgb(92, 90, 90);
    font-size: 5vw;  
    padding-right: 6vw;
}
#div1 {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#div2 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    display: flex;
    flex-direction: row;
}
#div3 {
    width: 50%;
    background-color: rgb(69, 176, 182);
    text-align: center;
    color: rgb(255, 255, 255);
    margin-right: 3vw; 
    margin-left:11.25vw;
    border-radius: 25px; 
}
#div4 {
    position: relative;
    width: 50%;
    margin-left: 1vw;
    background-color: rgb(235, 147, 64);
}
p {
    color:rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
    font-size: 1vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
.row {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    padding-bottom: 1vw;
  }
#choice-1 {
    display: inline-block;
    margin: 5px;
    font-size: 1.2vw;
    background-color: black;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);      
}
#choice-2 {
    display: inline-block;
    margin: 5px;
    font-size: 1.2vw;
    background-color: black;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
#choice-3 {
    display: inline-block;
    margin: 5px;
    font-size: 1.2vw;
    background-color: black;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
/* "roses" will be displayed when a user first opens the website. Other invitation images set to "display: none". */
#roses {
    position:absolute;
    width: 65%;
    object-fit: contain;
    margin-top: 0vw;
    margin-left: 3vw;
    display:block;
    border-radius: 25px;
  }
#leather {
    position:absolute;
    width: 65%;
    object-fit: contain;
    margin-top: 0vw;
    margin-left: 3vw;
    display:none;
    border-radius: 25px;
  }
#blossom {
    position:absolute;
    width: 65%;
    object-fit: contain;
    margin-top: 0vw;
    margin-left: 3vw;
    display:none;
    border-radius: 25px;
  }
.label {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1vw;
    padding-top: .5vw;
    padding-bottom: .5vw;
    display: block;
    align-items:center
}
#firstName {
    font-size: 1vw;
  }
  #secondName {
    font-size: 1vw;
  }
  #surname {
    font-size: 1vw;
  }
  #weddingDate {
    font-size: 1vw;
  }
  #weddingLocation {
    font-size: 1vw;
  }
#div5 {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; 
    font-family: cursive; 
    color: rgb(244, 220, 124);
    font-size: 1.7vw;
    text-shadow: 1px 1px 1px  rgb(53, 53, 53); 
    padding-right: 8vw; 
    position: relative;
    text-align: center; 
}
#Initials { 
    color: rgb(244, 220, 124);
    font-size: 3.5vw;
    text-shadow: 1px 1px 1px  rgb(53, 53, 53); 
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end: 3;
    margin: auto; 
    padding-top: 0vw; 
}
/*Forcing row height by using "visibility hidden"*/
#InitialsA {
    font-size: 3.5vw;
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end: 3;
    visibility: hidden;   
}
#InitialsB {
    font-size: 3.5vw;
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end: 3;
    visibility: hidden;
}
#blankText1 {
    font-size: 3.5vw;
    grid-column-start: 1;
    grid-column-end:4;
    grid-row-start:3;
    grid-row-end: 5;
    visibility: hidden;
}
#cordially {
    grid-column-start: 1;
    grid-column-end:4;
    grid-row-start:5;
    grid-row-end: 7;
}
#firstName2 {
    grid-column-start: 1;
    grid-column-end:4;
    grid-row-start:7;
    grid-row-end: 8;
    word-break: break-word;
    min-height: 0px;
    min-width: 0px;
    margin-left: 4vw;
    margin-right: 5vw;
}
#surname2 {
    grid-column-start: 1;
    grid-column-end:4;
    grid-row-start:8;
    grid-row-end: 9;
    word-break: break-word;
    margin-left: 4vw;
    margin-right: 5vw;
}
#weddingDate2 {
    grid-column-start: 1;
    grid-column-end:4;
    grid-row-start:12;
    grid-row-end: 13;
    margin-left: 4vw;
    margin-right: 5vw;
}
#weddingLocation2 {
    grid-column-start: 1;
    grid-column-end:4;
    grid-row-start:13;
    grid-row-end: 14;
    word-break: break-word;
    margin-left: 4vw;
    margin-right: 5vw;
}

