body {
    background-color: rgb(235, 147, 64);
}
header {
    display: flex;
    flex-direction:row;
}
#wedding-couple {
    height: 70%;
    width: 70%;
    padding-left: 4vw; 
 }
 h1 {
    color:rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 1px 1px  rgb(92, 90, 90);
    font-size: 5vw;  
    padding-right: 4vw;

}
#div1 {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#div2 {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    display: flex;
    flex-direction: row;
}
#blank {
    width: 7%
}
#div3 {
    width: 40%;
    background-color: rgb(69, 176, 182);
    margin-left: 3vw;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: 3vw; 
    border-radius: 25px;
}
#div4 {
    position: relative;
    width: 45%;
    background-color: rgb(235, 147, 64);
}
h2 {
    color:rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
    font-size: 1.5vw;
    margin-top: 40px;
    margin-bottom: 5px;
}
.row {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    padding-bottom: 1vw;
  }

#choice-1 {
    display: inline-block;
    margin: 5px;
    font-size: 2vw;
    background-color: black;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);      
}
#choice-2 {
    display: inline-block;
    margin: 5px;
    font-size: 2vw;
    background-color: black;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
#choice-3 {
    display: inline-block;
    margin: 5px;
    font-size: 2vw;
    background-color: black;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
#roses1 {
    position:absolute;
    width: 85%;
    object-fit: contain;
    margin-top: 0vw;
    margin-left: 3vw;
    display:block;
    border-radius: 25px;
     }
#roses {
    position:absolute;
    width: 85%;
    object-fit: contain;
    margin-top: 0vw;
    margin-left: 3vw;
    display:none;
    border-radius: 25px;
  }
#leather {
    position:absolute;
    width: 85%;
    object-fit: contain;
    margin-top: 0vw;
    margin-left: 3vw;
    display:none;
    border-radius: 25px;
  }
#blossom {
    position:absolute;
    width: 85%;
    object-fit: contain;
    margin-top: 0vw;
    margin-left: 3vw;
    display:none;
    border-radius: 25px;
  }
.label {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    display: block;
    align-items:center
}
#firstName {
    font-size: 1.5vw;
}
#secondName {
    font-size: 1.5vw;
}
#surname {
    font-size: 1.5vw;
}
#weddingDate {
    font-size: 1.5vw;
}
#weddingLocation {
    font-size: 1.5vw;
}
#initials {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-size: 2vw;
    text-shadow: 1px 1px 1px  rgb(92, 90, 90);  
}
.images {
    position:relative
}
.words {
    font-family: cursive;  
    color: rgb(255, 255, 255);
    font-size: 1.7vw;
    text-shadow: 1px 1px 1px  rgb(92, 90, 90);  
    padding-top: 1.5vw;
    position: relative;
    text-align: center; 
}
#firstName2Initials {
    font-size: 4vw;
    padding-top: 1.5vw;
}
#cordially {
    padding-top: 12vw;
}
#firstName2 {
    padding-top: 2vw;
}
#weddingDate2 {
    padding-top: 6vw;
}
